# This is Git's per-user configuration file.
[user]
# Please adapt and uncomment the following lines:
name = Jay Bosamiya
email = jaybosamiya@gmail.com
[credential]
[core]
	editor = vim
	excludesfile = ~/.gitignore_global
	attributesfile = ~/.gitattributes
[filter "nevercommitfilter"]
	smudge = cat
	clean = sed '/NEVERCOMM[I]T/'d
