# This is Git's per-user configuration file.
[user]
# Please adapt and uncomment the following lines:
name = Jay Bosamiya
email = jaybosamiya@gmail.com
[credential]
[core]
	editor = vim
	excludesfile = ~/.gitignore_global
	attributesfile = ~/.gitattributes
        hooksPath = ~/.gitconfig.d/hooks
[filter "nevercommitfilter"]
	smudge = cat
	clean = gnused '/NEVERCOMM[I]T/'d
[diff]
        # The histogram diff algorithm, at least as per 2020
        # (https://link.springer.com/article/10.1007%2Fs10664-019-09772-z)
        # seems to be the best at providing diff results.
	algorithm = histogram
[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process

[alias]
    hide = update-index --assume-unchanged
    unhide = update-index --no-assume-unchanged
[init]
	defaultBranch = main
[url "ssh://git@github.com/"]
	insteadOf = sshttps://www.github.com/
[url "ssh://git@github.com/"]
	insteadOf = sshttps://github.com/
