*~
emacs/.emacs.d/.emacs.desktop.lock
emacs/.emacs.d/history
emacs/.emacs.d/transient/
emacs/.emacs.d/servers_accessed.txt
emacs/.emacs.d/semanticdb/
emacs/.emacs.d/srecode-map.el
emacs/.emacs.d/undohist/
emacs/.emacs.d/eshell/history
emacs/.emacs.d/tramp
emacs/.emacs.d/ido.last
emacs/.emacs.d/smex-items
emacs/.emacs.d/elpa
emacs/.emacs.d/.last-package-update-day
emacs/.emacs.d/.lsp-session-v1
gdb/.local/pwn/peda
gdb/.local/pwn/pwndbg
gdb/.local/pwn/Pwngdb
gdb/.local/pwn/gef
zsh/.oh-my-zsh
