*~
**/#*#

emacs/.emacs.d/session.*
emacs/.emacs.d/eshell/
emacs/.emacs.d/.emacs.desktop
emacs/.emacs.d/.emacs.desktop.lock
emacs/.emacs.d/history
emacs/.emacs.d/transient/
emacs/.emacs.d/servers_accessed.txt
emacs/.emacs.d/semanticdb/
emacs/.emacs.d/srecode-map.el
emacs/.emacs.d/undohist/
emacs/.emacs.d/eshell/history
emacs/.emacs.d/tramp
emacs/.emacs.d/ido.last
emacs/.emacs.d/smex-items
emacs/.emacs.d/amx-items
emacs/.emacs.d/elpa
emacs/.emacs.d/.last-package-update-day
emacs/.emacs.d/.lsp-session-v1
emacs/.emacs.d/projects

gdb/.local/pwn/peda
gdb/.local/pwn/pwndbg
gdb/.local/pwn/Pwngdb
gdb/.local/pwn/gef
zsh/.oh-my-zsh

lima/.lima/_config/user
lima/.lima/_config/user.pub
lima/.lima/_config/networks.yaml

lima/.lima/default/basedisk
lima/.lima/default/cidata.iso
lima/.lima/default/diffdisk
lima/.lima/default/ha.sock
lima/.lima/default/ha.stderr.log
lima/.lima/default/ha.stdout.log
lima/.lima/default/serial.log

lima/.lima/x86instance/basedisk
lima/.lima/x86instance/cidata.iso
lima/.lima/x86instance/diffdisk
lima/.lima/x86instance/ha.sock
lima/.lima/x86instance/ha.stderr.log
lima/.lima/x86instance/ha.stdout.log
lima/.lima/x86instance/serial.log

lima/.lima/*/*.pid
